
.card{
    border: 1px solid black;
    background-color: black;
}

.bi{
    cursor: pointer;

}

.bi-heart{
    color: #dc3545;
}

.bi-heart-fill{
    color: #dc3545;

}

.card-img-top{
    height:335px;
}
